<ion-content padding="true">
  <ion-content padding class="background" force-overscroll="false">
    <div class="page-centered-element">
      <div class="content">
        <div class="fadeIn">
        <img src="assets/img/Livraison.png">
      </div>
        
        <ion-text  color="primary">
          <h4>Bienvenue à JEGE Colis
          </h4>
        </ion-text>
        
        
          <h6>Toujours plus près de vous!</h6>
       
      </div>
    </div>
   
    
    <div class="absolute">
      <section class="full-width">
      <ion-button expand="full" size="large"  color="primary" (click)="navigateToLogin()">Allons-y!</ion-button>      
    </section>
    </div>
    
  </ion-content>
