:root {
    --ion-font-family:  'PlayfairDisplay'!important;
    font-family:  'PlayfairDisplay' !important;
  }
  
  h2 {
    font-family:  'PlayfairDisplay'
  }
  .page-centered-element {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content {
    text-align: center;
  
    .buttons-container {
      margin-top: 30px;
    }
  }
.medium{
    height: 150px;
    width: 260px;
}

ion-card {
    height: 300px;
    width: 300px;
    border-radius:30px !important;
    border-color:#135A30 !important;
    }