<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-centered-element">
  <div class="content">



<ion-card color="primary" routerLink="/depot">
<ion-card-content>
  <div class="medium">
  <img src="assets/img/depot.jpg">
</div>
</ion-card-content>
</ion-card>

<ion-card color="secondary" routerLink="/reception">
  <ion-card-content>
    <div class="medium">
    <img src="assets/img/retrait.jpg">
  </div>
  </ion-card-content>
  </ion-card>

</div>
</div>
</ion-content>
