<ion-content>
   <ion-icon routerLink="/homeclient" color="primary" size="large" name="close-outline"></ion-icon>

  <ion-slides #signupSlider>
      <ion-slide>
        <img  src="assets/img/colis.png">
        <ion-text color="primary"> <br> Colis </ion-text>
        <p *ngIf="submitAttempt" style="color: #ea6153;">Veuillez remplir ce formulaire</p>
        
          <form [formGroup]="validations_form1" >
                    <ion-item>
                      <ion-label position="floating">Nature de votre colis?</ion-label>
                      <ion-select formControlName="nature">
                          <ion-select-option value="Document" checked="true">Documents</ion-select-option>
                          <ion-select-option value="Alimentaire">Produits alimentaires</ion-select-option>
                          <ion-select-option value="Paquet">Paquets et autres</ion-select-option>
                      </ion-select>
                  </ion-item>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.nature">
                      <div class="error-message" style="font-size: small;color: #ea6153;"
                        *ngIf="validations_form1.get('nature').hasError(validation.type) && (validations_form1.get('nature').dirty || validations_form1.get('nature').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                   </div>

                  <ion-item>
                      <ion-label position="floating">Quantité</ion-label>
                      <ion-select formControlName="quantite">
                          <ion-select-option value="Un" checked="true">Un</ion-select-option>
                          <ion-select-option value="Deux ou plusieurs">Deux ou plus</ion-select-option>
                      </ion-select>
                  </ion-item>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.quantite">
                      <div class="error-message" style="font-size: small;color: #ea6153;"
                        *ngIf="validations_form1.get('quantite').hasError(validation.type) && (validations_form1.get('quantite').dirty || validations_form1.get('quantite').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                   </div>

                    <ion-item>
                      <ion-label position="floating">Paiement</ion-label>
                      <ion-select formControlName="paiement">
                          <ion-select-option value="Expediteur" checked="true">Par l'expéditeur</ion-select-option>
                          <ion-select-option value="Destinataire">Par le destinataire</ion-select-option>
                      </ion-select>
                    </ion-item>
                    <div class="validation-errors">
                      <ng-container *ngFor="let validation of validation_messages.paiement">
                        <div class="error-message" style="font-size: small;color: #ea6153;"
                          *ngIf="validations_form1.get('paiement').hasError(validation.type) && (validations_form1.get('paiement').dirty || validations_form1.get('paiement').touched)">
                          {{ validation.message }}
                        </div>
                      </ng-container>
                     </div>

          </form>

          <ion-fab (click)="next()"  vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button color="primary">
              <ion-icon color="light" name="arrow-forward"></ion-icon>
            </ion-fab-button>
          </ion-fab>
      </ion-slide>

      <ion-slide>
        <img src="assets/img/envoi.png">
        <ion-text color="primary"> <br> Expéditeur </ion-text >
          <form [formGroup]="validations_form2" >

                  <ion-item>
                    <ion-input type="text" placeholder="Prénom et nom de l'expéditeur" formControlName="nomexpediteur" class="form-controll" required></ion-input>
                  </ion-item>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.nomexpediteur">
                      <div class="error-message" style="font-size: small;color: #ea6153;"
                        *ngIf="validations_form2.get('nomexpediteur').hasError(validation.type) && (validations_form2.get('nomexpediteur').dirty || validations_form2.get('nomexpediteur').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                   </div>

                  <ion-item>
                    <ion-input type="number" placeholder="Numéro de téléphone" formControlName="expediteur" class="form-controll" required></ion-input>
                  </ion-item>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.expediteur">
                      <div class="error-message" style="color: #ea6153;"
                        *ngIf="validations_form2.get('expediteur').hasError(validation.type) && (validations_form2.get('expediteur').dirty || validations_form2.get('expediteur').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                   </div>
                  <ion-item>
                    <ion-input type="text" placeholder="Adresse de l'expéditeur" formControlName="adresseexpediteur" class="form-controll" required></ion-input>
                  </ion-item>
                  <!-- <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.adresse">
                      <div class="error-message" style="font-size: small;color: #ea6153;"
                        *ngIf="validations_form2.get('adresse').hasError(validation.type) && validations_form2.get('adresse').dirty">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                   </div> -->

                  <p>OU</p>
                  <ion-item>
                    <ion-label position="floating">Expédier d'un point relais</ion-label>
                    <ion-select formControlName="ptrelaissource">
                        <ion-select-option value="foire" checked="true">JEGE Foire</ion-select-option>
                        <ion-select-option value="sacre">JEGE Sacré Coeur</ion-select-option>
                        <ion-select-option value="djeuppeul" checked="true">JEGE Djeuppeul</ion-select-option>
                        <ion-select-option value="mermoz">JEGE Mermoz</ion-select-option>
                        <ion-select-option value="keur" checked="true">JEGE Keur Massar</ion-select-option>
                        <ion-select-option value="hlm">JEGE HLM</ion-select-option>
                    </ion-select>
                  </ion-item>
                  
          </form>
          <ion-fab (click)="next()"  vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button color="primary">
              <ion-icon color="light" name="arrow-forward"></ion-icon>
            </ion-fab-button>
          </ion-fab>
      </ion-slide>

      <ion-slide>
        <img src="assets/img/des.png">
        <ion-text color="primary"> <br> Destinataire </ion-text >
          <form [formGroup]="validations_form3" >

                  <ion-item>
                    <ion-input type="text" placeholder="Prénom et nom du destinataire" formControlName="nomdestinataire" class="form-controll" required></ion-input>
                  </ion-item>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.nomdestinataire">
                      <div class="error-message" style="font-size: small;color: #ea6153;"
                        *ngIf="validations_form3.get('nomdestinataire').hasError(validation.type) && (validations_form3.get('nomdestinataire').dirty || validations_form3.get('nomdestinataire').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                   </div>

                  <ion-item>
                    <ion-input type="number" placeholder="Numéro de téléphone" formControlName="destinataire" class="form-controll" required></ion-input>
                  </ion-item>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.destinataire">
                      <div class="error-message" style="font-size: small;color: #ea6153;"
                        *ngIf="validations_form3.get('destinataire').hasError(validation.type) && (validations_form3.get('destinataire').dirty || validations_form3.get('destinataire').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                   </div>

                  <ion-item>
                    <ion-input type="text" placeholder="Adresse du destinataire" formControlName="adressedestinataire" class="form-controll" required></ion-input>
                  </ion-item>
                  <!-- <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.adresse1">
                      <div class="error-message" style="font-size: small;color: #ea6153;"
                        *ngIf="validations_form3.get('adresse1).hasError(validation.type) && validations_form3.get('adresse1').dirty">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                   </div> -->

                  <p>OU</p>
                  <ion-item>
                    <ion-label position="floating">Retirer d'un point relais</ion-label>
                    <ion-select formControlName="ptrelaisdestination">
                        <ion-select-option value="foire" checked="true">JEGE Foire</ion-select-option>
                        <ion-select-option value="sacre">JEGE Sacré Coeur</ion-select-option>
                        <ion-select-option value="djeuppeul" checked="true">JEGE Djeuppeul</ion-select-option>
                        <ion-select-option value="mermoz">JEGE Mermoz</ion-select-option>
                        <ion-select-option value="keur" checked="true">JEGE Keur Massar</ion-select-option>
                        <ion-select-option value="hlm">JEGE HLM</ion-select-option>
                    </ion-select>
                  </ion-item>
                  
                  <ion-button  color="primary" (click)="presentAlertConfirm()">Valider la demande</ion-button>
          </form>
      </ion-slide>

  </ion-slides>
</ion-content>
