

<ion-content>  

  <div class="border">
  <div class="time"><h1>Mon Profil </h1></div>
  <div class="temp">
<!--     photo profil -->
    
          <img src="https://pbs.twimg.com/profile_images/834493671785525249/XdLjsJX_.jpg" class="user-photo">
        
  </div>
</div>

  <div class="middle">
    
    <div class="timeline">
      <ul>
        <li>
          <div class="hour">
            <ion-icon color="primary" name="person"></ion-icon>
          </div>
          <div class="work">
            <span>Prenom et nom</span><br />
            <span id="sub"> Aicha Fall</span>
          </div>
        </li>
        <li>
          <div class="hour">
            <ion-icon color="primary" name="call"></ion-icon>
          </div>
          <div class="work">
            <span>Numero de telephone</span><br />
            <span id="sub">773455432</span>
          </div>
        </li>
        <li>
          <div class="hour">
            <ion-icon color="primary" name="mail"></ion-icon>
          </div>
          <div class="work">
            <span>E-mail</span><br />
            <span id="sub">{{ useremail }}</span>
          </div>
        </li>
        <li>
          <div class="hour">
            <ion-icon color="primary" name="home"></ion-icon>
          </div>
          <div class="work">
            <span>Adresse</span><br />
            <span id="sub">Ouest Foire</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="bottom">
    <ion-fab routerLink="/homeclient"  vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button color="primary">
        <ion-icon color="light" name="arrow-back"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab routerLink='/modifprofil' vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="primary">
        <ion-icon color="light" name="pencil"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <!-- <button id="done"><i class="fa fa-check" aria-hidden="true"></i></button>
    <button id="edit"><i class="fa fa-pencil" aria-hidden="true"></i></button> -->
    
  </div>

</ion-content>
