<ion-content padding="true">
  <ion-content padding class="background" force-overscroll="false">
    <div class="page-centered-element">
      <div class="content">
        <img src="assets/img/bravo.png">        
        <ion-text  color="primary">
          <h4>Enregistré!
          </h4>
        </ion-text>
        
        
          <h6>Votre demande est en cours de traitement. Vous pouvez suivre votre colis sur la page
             <ion-text routerLink="/tracker"> <h3> "Suivi de colis" </h3> </ion-text>
          </h6>
       
      </div>
    </div>
   
    <div class="absolute">
      <section class="full-width">
      <ion-button expand="full" size="large"  color="primary" (click)="navigateToLogin()">
        <ion-text  color="light">
          Accueil
        </ion-text>
      </ion-button>      
    </section>
    </div>
  
  </ion-content>